/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-image: url("app\Resources\space.png");
  background-color: #888;
}

html, body {
  height: 100%;
  font-size: 20px;
  min-width: 1000px;
  color: black;
}

header {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  display: block;
}

footer {
  padding: 15px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  background-color: black;
  color: white;
  text-align: center;
}

#content {
  margin-top: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #888;
  border-top: 3px solid #E8EAF6;
  border-bottom: 3px solid #E8EAF6;
}

.picture {
  max-height: 600px;
  max-width: 600px;
  padding: 5px;
  display: block;
}

.pictures {
  display: flex;
}

textarea {
  resize: none;
}

.page-name {
  font-size: 60px;
  line-height: 65px;
  font-weight: bold;
  margin-top: 20px;
  color: white;
}

.min-ml
{
  margin-left: min(20px, 5%);
}

.nick {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 16px;
  border-bottom: outset;
  border-bottom-width: 2px;
}

.logging
{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container
{
    color:black;
}

.colorwhite
{
  color: white;
}

.ErrorMessage
{
  color: red;
}

.m-25
{
  margin-bottom: 25px;
}

.ErrorBox {

  padding: 10px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}
